wandb==0.13.0
pytest==7.1.1
transformers==4.17.0
datasets==2.0.0
simple-parsing==0.0.19.post0
torch==1.10.0
pytorch-lightning==1.5.10
torchaudio==0.10.0
phonemizer==3.2.1
rich==13.0.0
librosa==0.10.0
wget==3.2
lightning-bolts==0.5.0
torchmetrics==0.7.2